<div class="container">
  <div class="home-header">
    <h1>Elizabeth Alden Landis &nbsp; 1988-2011</h1>
    <p class="tagline">
        From the bottom of our hearts, we regret the tragic loss of a dear friend, daughter, sister, and amazing human being.
    </p>
  </div>

  <a href="/gallery">
    <img class="callout" src="img/splash.jpg" alt="eal" />
  </a>

  <p class="actions-line">
    <a class="btn large" href="/gallery">View Photo Gallery &raquo;</a>
    <a class="btn large second" href="/notes">View Notes &raquo;</a>
  </p>
</div>
