<div class="container">
  <div class="hero-unit">
    <h1>Notes</h1>
    <p>A collection of messages from all of those whose lives have been touched by Alden.</p>
    <p>
      <a class="btn large" href="/gallery">View Photo Gallery &raquo;</a>
    </p>
  </div>

  <div class="add-note">
    <a class="btn add-button" href="#add">Add Note &raquo;</a>
    <form class="note-form">
      <div class="clearfix">
        <label for="author">Name</label>
        <div class="input">
          <input name="author" type="text" id="author" />
          <span class="help-block">Your name, as you'd like it to be displayed.</span>
        </div>
      </div>
      
      <div class="clearfix">
        <label for="body-text">Message</label>
        <div class="input">
          <textarea name="body" id="body-text"></textarea>
          <span class="help-block">Your message. Write as much or as little as you'd like.</span>
        </div>
      </div>

      <div class="actions">
        <a class="btn primary submit" href="#submit">Submit</a>
        <a class="btn cancel" href="#cancel">Cancel</a>
      </div>
    </form>
  </div>

  <section class="notes">
    <div class="row note template">
      <div class="span4">
        <h3 class="note-author"></h3>
        <p class="note-time"></p>
      </div>
      <div class="span12 note-body">
      </div>
    </div>
  <% @notes.each do |note| %>
    <div class="row note">
      <div class="span4">
        <h3><%= note.author %></h3>
        <p>
          <%= note.pretty_time %>
        </p>
      </div>
      <div class="span12 note-body">
        <%= note.pretty_body %>
      </div>
    </div>
  <% end %>
  </section>
</div>
